{% extends "base.html" %} {% block title %} {{ post.title_tag }} {% endblock %}
{%block content %}
	<h1>{{ post.title }}</h1>
	<small>By: {{ post.author.first_name }} {{ post.author.last_name }} on {{post.createdAt.date}}, at {{post.createdAt.time}}
  	{% if user.is_authenticated %}
		{% if user == post.author %}
  			<a href="{% url 'update_post' post.pk %}"> <small>(Edit)</a></small><a href="{% url 'delete_post' post.pk %}"><small>(Delete)</a></small><br />
		{% endif %}
	{% endif %}
	<small>Category: {{ post.category }}</small></small>
	<hr /><br />
	{{ post.body|safe }}<br /><br />

	<a href="{% url 'home' %}" class="btn btn-secondary">Homepage</a>
{% endblock %}
