{% extends "base.html" %} {% block content%} {% if category_posts %}
<h1>{{ cats }}</h1>

<ul>
  {% for post in category_posts %}
  <li>
    <a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a>
    posted by {{ post.author.first_name }} {{post.author.last_name }} on
    {{post.createdAt.date}}, at {{post.createdAt.time}} <br />
    {% if user.is_authenticated %} {% if user == post.author %} -
    <a href="{% url 'update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'delete_post' post.pk %}"> Delete</a>
    {% endif %} {% endif %}
    <br />
    {{ post.body|truncatewords:30|safe }}
  </li>
  {% endfor %}
</ul>
{% else %}
<h1>No Posts in this category</h1>
{% endif %} {% endblock %}
