{% extends "base.html" %} {% block content%}

<h1>Post</h1>

<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a> posted by
    {{post.author.first_name }} {{ post.author.last_name }} on
    {{post.createdAt.date}}, at {{post.createdAt.time}}
    <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
    <small><a href="{% url 'delete_post' post.pk %}"> Delete</a></small>
    <br />
    {% comment %} {{ post.body }} {% endcomment %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
