{% extends "base.html" %} {% block content%}

<h1>Post</h1>
<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a> -
    {{post.category }} - posted by {{ post.author.first_name }}
    {{post.author.last_name }} on {{post.createdAt.date}}, at
    {{post.createdAt.time}} <br />
    {% if user.is_authenticated %} {% if user == post.author %} -
    <a href="{% url 'update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'delete_post' post.pk %}"> Delete</a>
    {% endif %} {% endif %}
    <br />
    {{ post.body|truncatewords:30|safe }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
